[Desktop Entry]
Name=Store
Name[es]=Tienda
Comment=Instala y actualiza aplicaciones
Exec=bookos-store
TryExec=bookos-store
Icon=bookos-store
Type=Application
Categories=System;PackageManager;
Keywords=tienda;aplicaciones;instalar;store;
