[Desktop Entry]
Name=Files
Name[es]=Archivos
Comment=BookOS file manager
Comment[es]=Explorador de archivos de BookOS
Exec=bookos-explorer %U
TryExec=bookos-explorer
Icon=bookos-explorer
Type=Application
Categories=System;FileTools;FileManager;
Keywords=files;folders;
Keywords[es]=archivos;carpetas;ficheros;
