[Desktop Entry]
Name=Notepad
Name[es]=Notas
Comment=Editor de texto sencillo de BookOS
Exec=bookos-notepad %F
TryExec=bookos-notepad
Icon=bookos-notepad
Type=Application
Categories=Utility;TextEditor;
Keywords=notas;texto;editor;notepad;
